*.mdf
*.ldf
[Bb]in
[Dd]ebug
*.suo
*.user
*.[Cc]ache
.vs
*.exe
*.dll

# NuGetShit Packages
*.nupkg
# I tak dzieki wspanialemu nugetowi trzeba wywalac recznie...
**/packages/*
# poza build/, bo uzywa go MSBuild
!**/packages/build/
