<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Start","Main")">
                Team Project
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Features", "Main")">FEATURES</a>
                </li>

                <li>
                    <a href="@Url.Action("Login","Profile")">LOG IN</a>
                </li>
                <li>
                    <a href="@Url.Action("Register", "Profile")">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</div>