@model ProjectManager.WebApp.Models.RegisterViewModel

@using (Html.BeginForm("Login", "Profile", FormMethod.Get, new { @class = "form-center" }))
{
    <h2>Login</h2>
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
    <input type="submit" name="submitButton" value="Login" class="btn btn-lg btn-primary btn-block margin-top-10px" />
}
