/*#region Default*/
body {
  padding-bottom: 20px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
input,
select,
textarea {
  max-width: 280px;
}
.form-center {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/*#endregion*/
/*#region Margins*/
.margin-top-9 {
  margin-top: 9px;
}
.margin-top-10px {
  margin-top: 10px;
}
/*#endregion*/
/*#region Validation*/
.field-validation-error {
  color: Red;
  font-size: medium;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid Red !important;
  background-color: #fee !important;
}
.validation-summary-errors {
  font-weight: bold;
  color: Red;
}
.validation-summary-valid {
  display: none;
}
/*#endregion*/
/*#region KanbanBoard*/
.assignment {
  border: solid #103b7e;
  height: 80px;
  margin-bottom: 3px;
}
/*#endregion*/
/*#region Profile Detials*/
.content-profile {
  border: solid gainsboro;
  border-radius: 10px;
  padding-top: 4px;
}
.customButton {
  margin-bottom: 5px !important;
  margin-top: 5px;
  width: 200px;
}
/*#endregion*/
/*#region Popup Style*/
.popup-dialog {
  background-color: grey;
}
/*#endregion*/
/*#region Projects*/
.projectContainer {
  border: solid black;
  border-radius: 10px;
  box-shadow: gray 5px 5px;
  padding: 5px;
}
.activeProjectContainer {
  border: solid red;
}
/*#endregion*/
.min-width-80 {
  min-width: 80% !important;
}
.min-width-100 {
  min-width: 100% !important;
}
.th3-child div:nth-child(3n) {
  margin-bottom: 10px;
}